pipeline/pl_Array_to_String.json
{
	"name": "pl_Array_to_String",
	"properties": {
		"activities": [
			{
				"name": "LkpArraytoStringEmails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_ArraytoString_Emails",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"isSequential": true
				}
			},
			{
				"name": "ForEachEmail",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpArraytoStringEmails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpArraytoStringEmails').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Emails",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set EmpEmails",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Emails",
								"value": {
									"value": "@variables('TempEmails')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set EmpEmails",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempEmails",
								"value": {
									"value": "@concat(item().Emails,';',variables('Emails'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Emails": {
				"type": "String"
			},
			"TempEmails": {
				"type": "String"
			}
		},
		"annotations": []
	}
}